In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [2]:
hr_df = pd.read_csv("HR_Employee_Attrition_Data.csv")

In [3]:
hr_df.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,1,1,2,94,3,...,1,80,0,8,0,1,6,4,0,5
1,49,0,279,8,1,1,2,3,61,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,1,3,4,92,2,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,1,4,4,56,3,...,3,80,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,5,1,40,3,...,4,80,1,6,3,3,2,2,2,2

In [4]:
hr_df.describe()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.0,2940.000000,2940.000000,2940.000000,2940.000000,...,2940.000000,2940.0,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000,2940.000000
mean,36.923810,0.161224,802.485714,9.192517,2.912925,1.0,1470.500000,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.133819,0.367800,403.440447,8.105485,1.023991,0.0,848.849221,1.092896,20.325969,0.711440,...,1.081025,0.0,0.851932,7.779458,1.289051,0.706356,6.125483,3.622521,3.221882,3.567529
min,18.000000,0.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,465.000000,2.000000,2.000000,1.0,735.750000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,802.000000,7.000000,3.000000,1.0,1470.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,1157.000000,14.000000,4.000000,1.0,2205.250000,4.000000,84.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,1499.000000,29.000000,5.000000,1.0,2940.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [5]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       2940 non-null   int64
 1   Attrition                 2940 non-null   int64
 2   DailyRate                 2940 non-null   int64
 3   DistanceFromHome          2940 non-null   int64
 4   Education                 2940 non-null   int64
 5   EmployeeCount             2940 non-null   int64
 6   EmployeeNumber            2940 non-null   int64
 7   EnvironmentSatisfaction   2940 non-null   int64
 8   HourlyRate                2940 non-null   int64
 9   JobInvolvement            2940 non-null   int64
 10  JobLevel                  2940 non-null   int64
 11  JobSatisfaction           2940 non-null   int64
 12  MonthlyIncome             2940 non-null   int64
 13  MonthlyRate               2940 non-null   int64
 14  NumCompaniesWorked        2940 non-null   int64
 15  PercentSalaryHike         2940 non-null   int64
 16  PerformanceRating         2940 non-null   int64
 17  RelationshipSatisfaction  2940 non-null   int64
 18  StandardHours             2940 non-null   int64
 19  StockOptionLevel          2940 non-null   int64
 20  TotalWorkingYears         2940 non-null   int64
 21  TrainingTimesLastYear     2940 non-null   int64
 22  WorkLifeBalance           2940 non-null   int64
 23  YearsAtCompany            2940 non-null   int64
 24  YearsInCurrentRole        2940 non-null   int64
 25  YearsSinceLastPromotion   2940 non-null   int64
 26  YearsWithCurrManager      2940 non-null   int64
dtypes: int64(27)
memory usage: 620.3 KB

In [6]:
hr_df.drop(['EmployeeCount', 'EmployeeNumber'],axis=1,inplace=True)

In [7]:
hr_df.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,2,94,3,2,4,...,1,80,0,8,0,1,6,4,0,5
1,49,0,279,8,1,3,61,2,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,4,92,2,1,3,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,4,56,3,1,3,...,3,80,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,40,3,1,2,...,4,80,1,6,3,3,2,2,2,2

In [8]:
hr_df['Attrition'].sum()

474

In [9]:
474/2940

0.16122448979591836

In [38]:
hr_df.shape

(2940, 24)

In [10]:
X = hr_df.drop("Attrition" , axis=1)

y = hr_df.pop("Attrition")

In [11]:
# splitting data into training and test set for independent attributes
from sklearn.model_selection import train_test_split

X_train, X_test, train_labels, test_labels = train_test_split(X, y, test_size=.30, random_state=1)

## Decision Tree Classifier

In [12]:
dt_model = DecisionTreeClassifier(criterion = 'gini' )

In [13]:
dt_model.fit(X_train, train_labels)

DecisionTreeClassifier()

In [14]:
from sklearn import tree

train_char_label = ['No', 'Yes']
HR_Tree_File = open('d:\hr_tree.dot','w')
dot_data = tree.export_graphviz(dt_model, out_file=HR_Tree_File, feature_names = list(X_train), class_names = list(train_char_label))

HR_Tree_File.close()

In [15]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'max_depth': [7, 8, 9, 10],
    'min_samples_leaf': [15, 20, 25],
    'min_samples_split': [45, 60, 75]
}

dt_model = DecisionTreeClassifier()

grid_search = GridSearchCV(estimator = dt_model, param_grid = param_grid, cv = 3)

In [16]:
grid_search.fit(X_train, train_labels)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [7, 8, 9, 10],
                         'min_samples_leaf': [15, 20, 25],
                         'min_samples_split': [45, 60, 75]})

In [17]:
grid_search.best_params_

{'max_depth': 7, 'min_samples_leaf': 25, 'min_samples_split': 45}

In [18]:
best_grid = grid_search.best_estimator_

In [19]:
ytrain_predict = best_grid.predict(X_train)
ytest_predict = best_grid.predict(X_test)

In [20]:
from sklearn.metrics import classification_report

In [21]:
print(classification_report(train_labels,ytrain_predict))

              precision    recall  f1-score   support

           0       0.87      0.98      0.92      1737
           1       0.66      0.21      0.32       321

    accuracy                           0.86      2058
   macro avg       0.76      0.60      0.62      2058
weighted avg       0.84      0.86      0.83      2058

In [22]:
print(classification_report(test_labels,ytest_predict))

              precision    recall  f1-score   support

           0       0.84      0.97      0.90       729
           1       0.51      0.15      0.23       153

    accuracy                           0.83       882
   macro avg       0.68      0.56      0.57       882
weighted avg       0.79      0.83      0.79       882

## Random Forest Classifier

In [23]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'max_depth': [7, 8],
    'max_features': [11, 12, 13],
    'min_samples_leaf': [20, 25],
    'min_samples_split': [60, 75],
    'n_estimators': [101, 301]
}

rfcl = RandomForestClassifier()

grid_search = GridSearchCV(estimator = rfcl, param_grid = param_grid, cv = 3)

In [24]:
grid_search.fit(X_train, train_labels)

GridSearchCV(cv=3, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [7, 8], 'max_features': [11, 12, 13],
                         'min_samples_leaf': [20, 25],
                         'min_samples_split': [60, 75],
                         'n_estimators': [101, 301]})

In [25]:
grid_search.best_params_

{'max_depth': 7,
 'max_features': 11,
 'min_samples_leaf': 20,
 'min_samples_split': 60,
 'n_estimators': 101}

In [26]:
best_grid = grid_search.best_estimator_

In [27]:
ytrain_predict = best_grid.predict(X_train)
ytest_predict = best_grid.predict(X_test)

In [28]:
print(classification_report(train_labels,ytrain_predict))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92      1737
           1       0.93      0.13      0.22       321

    accuracy                           0.86      2058
   macro avg       0.90      0.56      0.57      2058
weighted avg       0.87      0.86      0.82      2058

In [29]:
print(classification_report(test_labels,ytest_predict))

              precision    recall  f1-score   support

           0       0.84      1.00      0.91       729
           1       0.85      0.11      0.20       153

    accuracy                           0.84       882
   macro avg       0.85      0.55      0.55       882
weighted avg       0.84      0.84      0.79       882

## MLP Classifier (Artificial Neural Network)

In [30]:
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() 
X_trains = sc.fit_transform(X_train) 
X_tests = sc.transform (X_test)

In [31]:
param_grid = {
    'hidden_layer_sizes': [(100,100,100)],
    'activation': ['logistic', 'relu'],
    'solver': ['sgd', 'adam'],
    'tol': [0.1,0.01],
    'max_iter' : [10000]
}

rfcl = MLPClassifier()

grid_search = GridSearchCV(estimator = rfcl, param_grid = param_grid, cv = 3)

In [32]:
grid_search.fit(X_trains, train_labels)

GridSearchCV(cv=3, estimator=MLPClassifier(),
             param_grid={'activation': ['logistic', 'relu'],
                         'hidden_layer_sizes': [(100, 100, 100)],
                         'max_iter': [10000], 'solver': ['sgd', 'adam'],
                         'tol': [0.1, 0.01]})

In [33]:
grid_search.best_params_

{'activation': 'relu',
 'hidden_layer_sizes': (100, 100, 100),
 'max_iter': 10000,
 'solver': 'adam',
 'tol': 0.01}

In [34]:
best_grid = grid_search.best_estimator_

In [35]:
ytrain_predict = best_grid.predict(X_trains)
ytest_predict = best_grid.predict(X_tests)

In [36]:
print(classification_report(train_labels,ytrain_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1737
           1       1.00      1.00      1.00       321

    accuracy                           1.00      2058
   macro avg       1.00      1.00      1.00      2058
weighted avg       1.00      1.00      1.00      2058

In [37]:
print(classification_report(test_labels,ytest_predict))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97       729
           1       0.89      0.78      0.83       153

    accuracy                           0.95       882
   macro avg       0.92      0.88      0.90       882
weighted avg       0.94      0.95      0.94       882